@use "sass:math";

#anreise {
  background-color: #fafafa;
  margin-top: math.div(64rem, 16);
  @include lg {
    margin-top: math.div(104rem, 16);
  }
  iframe {
    margin-block: 2rem;
  }
  .anreise__2,
  .anreise__3,
  .anreise__4 {
    padding-top: 2rem;
    @include md {
      padding-top: 0;
    }
  }
}
