@use "sass:math";

#hero {
  background-color: $secondary;
  min-height: calc(100vh - 64px);
  .hero__wrapper {
    padding-top: 2rem;
    position: relative;
    z-index: 40;
    @include md {
      height: calc(100vh - 64px);
      padding-block: 5rem;
    }
    &--left {
      @include lg {
        width: 50%;
      }
      .time_and_location__wrapper {
        gap: 1rem;
        padding-block: 1rem;
        @include lg {
          gap: 2rem;
          padding-block: 2rem;
        }
      }
      button {
        color: #fff;
      }
    }
    &--right {
      padding-top: 3rem;
      @include lg {
        width: 50%;
        padding-top: 0;
      }
      span {
        @include md {
          height: 400px !important;
          aspect-ratio: 1;
        }
        @include lg {
          height: auto !important;
          width: 600px;
          aspect-ratio: initial;
        }
      }
    }
  }
  .bibimbap {
    width: 80px;
    height: 80px;
    transform: rotate(-19.44deg);
    left: 8px;
    top: -6px;
    @include md {
      width: 104px;
      height: 104px;
      left: 609px;
      top: 63pxpx;
    }
    @include lg {
      width: 128px;
      height: 128px;
      left: 263px;
      top: 195px;
    }
  }
  .empanada {
    width: 80px;
    height: 80px;
    transform: rotate(9.9deg);
    left: 277px;
    top: 136px;
    @include md {
      width: 104px;
      height: 104px;
      left: 160px;
      top: 38px;
    }
    @include lg {
      width: 128px;
      height: 128px;
      left: 1476px;
      top: 60px;
    }
  }
  .fast-food {
    width: 80px;
    height: 80px;
    transform: rotate(-12.2deg);
    left: 268px;
    top: 340px;
    @include md {
      width: 104px;
      height: 104px;
      left: 572px;
      top: 493px;
    }
    @include lg {
      width: 128px;
      height: 128px;
      left: 868px;
      top: 191px;
    }
  }
  .greek-yogurt {
    width: 80px;
    height: 80px;
    transform: rotate(28.55deg);
    left: 188.65px;
    top: 729px;
    @include md {
      width: 104px;
      height: 104px;
      left: 93px;
      top: 829px;
    }
    @include lg {
      width: 128px;
      height: 128px;
      left: 334px;
      top: 733px;
    }
  }
  .pita {
    width: 80px;
    height: 80px;
    transform: rotate(21.66deg);
    left: 7px;
    top: 687px;
    @include md {
      width: 104px;
      height: 104px;
      left: 197px;
      top: 324px;
    }
    @include lg {
      width: 128px;
      height: 128px;
      left: 1597px;
      top: 769px;
    }
  }
  .pizza {
    width: 80px;
    height: 80px;
    transform: rotate(-11.96deg);
    left: -25px;
    top: 498px;
    @include md {
      width: 104px;
      height: 104px;
      left: 656px;
      top: 827px;
    }
    @include lg {
      width: 128px;
      height: 128px;
      left: 896px;
      top: 724px;
    }
  }
  .spaguetti {
    width: 80px;
    height: 80px;
    transform: rotate(-9.11deg);
    left: 29px;
    top: 318px;
    @include md {
      width: 104px;
      height: 104px;
      left: 83px;
      top: 563px;
    }
    @include lg {
      width: 128px;
      height: 128px;
      left: 536px;
      top: 502px;
    }
  }
  .tteok {
    width: 80px;
    height: 80px;
    left: 110px;
    top: 83px;
    @include md {
      width: 104px;
      height: 104px;
      left: 671px;
      top: 277px;
    }
    @include lg {
      width: 128px;
      height: 128px;
      left: 1465px;
      top: 523px;
    }
  }
}
