@use "sass:math";
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
/* Body */
body {
  background-color: #fafafa;
  font-size: math.div(16rem, 16);
  color: #171717;
  @include md {
    font-size: math.div(18rem, 16);
  }
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
