@use "sass:math";
.heading-1 {
  font-size: math.div(40rem, 16);
  font-weight: bold;
  @include md {
    font-size: math.div(48rem, 16);
  }
  @include lg {
    font-size: math.div(64rem, 16);
  }
}
.heading-2 {
  font-size: math.div(24rem, 16);
  font-weight: bold;
  @include md {
    font-size: math.div(32rem, 16);
  }
  @include lg {
    font-size: math.div(40rem, 16);
  }
}
.heading-3 {
  font-size: math.div(20rem, 16);
  font-weight: bold;
  @include md {
    font-size: math.div(22rem, 16);
  }
  @include lg {
    font-size: math.div(24rem, 16);
  }
}
.body-lg {
  font-size: math.div(20rem, 16);
}
