// load custom font from google fonts
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@400;700&display=swap");

@import "~bootstrap/scss/functions";
// redefine variables not dependent on anything else

// global variables
$primary: #ef4444;
$secondary: #fca5a5;
$info: #292524;
$light: #fee2e2;
$dark: #1c1917;

// theme color variables

// font family
$headings-font-family: "Rubik", sans-serif;
$font-family-base: "Inter", sans-serif;

// links

//navbar

// import variables and mixins files (so you can use them below)
// any redefined vars above will be incorporated into the files (e.g. in maps)
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// utility api - import utility file first
// import bootstrap whole sass lib (incorporates all above redefined vars & values)
@import "~bootstrap/scss/bootstrap";

// import a11y and global
@import "breakpoints";
@import "a11y";
@import "global";
@import "typography";

// components
@import "components/wrapper";
@import "components/about";
@import "components/anreise";
@import "components/countdown";
@import "components/cta";
@import "components/footer";
@import "components/header";
@import "components/hero";
@import "components/mitwirkende";
@import "components/schedule";
@import "components/sponsor";
